<div class="card text-white bg-dark mb-3">
  <div class="card-header">Editor Controls</div>
  <div class="card-body">
    <button class="btn btn-primary btn-block" [disabled]="!editorLoaded" (click)="getInfo()">Get Info</button>

    <button class="btn btn-primary btn-block" [disabled]="!editorLoaded" (click)="openUploadModal(content)">Upload Image</button>

    <button class="btn btn-primary btn-block" [disabled]="!editorLoaded" (click)="addFrame()">New Textbox</button>

    <hr>

    <form *ngIf="frame?.x">
      <h4>Generic Frame</h4>

      <div class="form-group row">
        <label for="x" class="col-sm-4 col-form-label">X:</label>
        <input id="x" type="text" [(ngModel)]="frame.x" (ngModelChange)="setFrame({property: 'x', value: $event})" class="form-control col-sm-8" name="x">
      </div>
      <div class="form-group row">
        <label for="y" class="col-sm-4 col-form-label">Y:</label>
        <input id="y" type="text" [(ngModel)]="frame.y" (ngModelChange)="setFrame({property: 'y', value: $event})" class="form-control col-sm-8" name="y">
      </div>
      <div class="form-group row">
        <label for="width" class="col-sm-4 col-form-label">Width:</label>
        <input id="width" type="text" [(ngModel)]="frame.width" (ngModelChange)="setFrame({property: 'width', value: $event})" class="form-control col-sm-8" name="width">
      </div>
      <div class="form-group row">
        <label for="height" class="col-sm-4 col-form-label">Height:</label>
        <input id="height" type="text" [(ngModel)]="frame.height" (ngModelChange)="setFrame({property: 'height', value: $event})" class="form-control col-sm-8" name="height">
      </div>
      <div class="form-group row">
        <label for="rotation" class="col-sm-4 col-form-label">Rotation:</label>
        <input id="rotation" type="text" [(ngModel)]="frame.rotation" (ngModelChange)="setFrame({property: 'rotation', value: $event})" class="form-control col-sm-8" name="rotation">
      </div>

      <button class="btn btn-danger btn-block" (click)="deleteFrame()">Delete Frame</button>

      <hr>
    </form>

    <div *ngIf="frame?.type === 'text'">
      <h4>Text</h4>

      <div class="btn-group" data-toggle="buttons">
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="textFormat.lineThrough" (ngModelChange)="setFontStyle({property: 'lineThrough'})"> <del>S</del>
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="textFormat.underLine" (ngModelChange)="setFontStyle({property: 'underLine'})" [checked]="textFormat.underLine"> <i class="oi oi-underline"></i>
        </label>
      </div>

      <div class="btn-group" ngbRadioGroup name="radioBasic" [(ngModel)]="textFormat.textAlign" (ngModelChange)="setFontStyle({property: 'textAlign', value: $event})">
        <label ngbButtonLabel class="btn-warning">
          <input ngbButton type="radio" [value]="'left'"><i class="oi oi-align-left"></i>
        </label>
        <label ngbButtonLabel class="btn-warning">
          <input ngbButton type="radio" [value]="'center'"><i class="oi oi-align-center"></i>
        </label>
        <label ngbButtonLabel class="btn-warning">
          <input ngbButton type="radio" [value]="'right'"><i class="oi oi-align-right"></i>
        </label>
      </div>

      <div class="button-row">
        <label for="fontSize">Font Size</label>
        <input type="number" id="fontSize" [(ngModel)]="textFormat.fontSize" (ngModelChange)="setFontStyle({property: 'fontSize', value: $event})" class="form-control" name="fontSize">
      </div>

      <label for="fonts">Font</label>
      <select class="form-control" id="fonts" [(ngModel)]="textFormat.font" (ngModelChange)="setFontStyle({property: 'font', value: $event})">
        <option *ngFor="let font of fontList" [ngValue]="'cp_object:document.fonts[' + font.id + ']'">{{ font.name }}</option>
      </select>
      <hr>
    </div>
  </div>
</div>
